mixin numberCell(title, number)
  td.number(data-title=title)= number

mixin sizeCell(title, size)
  td.number(data-title=title, data-value= size)= h.size.format(size)

a
h2 Lighthouse

- var lighthouseSummary = pageInfo.data.lighthouse.pageSummary

h3 Performance metrics
.responsive
  table
    thead
      tr
        th(colspan='2') Resources
      each metric,metric_name in lighthouseSummary
        tr
          td #{metric_name}
          +numberCell('', metric.median)